# Day 6 - forループの基本（解答付き）

以下は解答例です。

### 問題1
1. 1から5までの数字を出力してください。

### 問題2
2. リストの各要素を順に出力してください。

### 問題3
3. 1から10までの偶数を出力してください。

### 問題4
4. 文字列の各文字を1文字ずつ出力してください。

### 問題5
5. forループとrangeを使って合計を求めてください（1〜100）。

In [ ]:
for i in range(1, 6):
    print(i)

In [ ]:
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

In [ ]:
for i in range(2, 11, 2):
    print(i)

In [ ]:
for char in 'hello':
    print(char)

In [ ]:
total = 0
for i in range(1, 101):
    total += i
print(total)